<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>iMyUtils</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).ColorConvert</string>
					<key>XCSourceEditorCommandName</key>
					<string>Color Converter</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).ColorConvertCustom1</string>
					<key>XCSourceEditorCommandName</key>
					<string>Color Converter Custom1</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).Enum2Switch</string>
					<key>XCSourceEditorCommandName</key>
					<string>Enum To Switch</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).RandomString</string>
					<key>XCSourceEditorCommandName</key>
					<string>Random String</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).StringFormat2lowerCapitalize</string>
					<key>XCSourceEditorCommandName</key>
					<string>String format 2 'lowerCapitalize', no space</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).StringFormat2Capitalize</string>
					<key>XCSourceEditorCommandName</key>
					<string>String format 2 'CapitalizeCapitalize', no space</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).StringFormat2UpperCamel</string>
					<key>XCSourceEditorCommandName</key>
					<string>String format 2 'Upper Camel'</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).StringFormat2lowercamel</string>
					<key>XCSourceEditorCommandName</key>
					<string>String format 2 'lower camel'</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).TranslatorToFirst</string>
					<key>XCSourceEditorCommandName</key>
					<string>Translate to first language</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).TranslatorToSecond</string>
					<key>XCSourceEditorCommandName</key>
					<string>Translate to second language</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 wintelsui. All rights reserved.</string>
</dict>
</plist>
